<!-- <section style="background-color: rgba(250,250,250,0.8); border-radius: 5px;"> -->
        
    <div class="container-fluid auth">
    <div class="row">
        <div class="col-md-10 mx-auto" >
                <mat-tab-group mat-align-tabs="center" [selectedIndex]="index" class="w-100" style="background-color: rgba(250,250,250,0.8); border-radius: 5px;">
                        <mat-tab label="Login">
                            <app-login></app-login>
                                
                        </mat-tab>
                        <mat-tab label="Register" > 
                        <app-register></app-register>
                        </mat-tab>
                </mat-tab-group>
                
        </div>

    </div>
    </div>
    
   
<!-- </section> -->



  